<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Maze Game High Scores</title>
    <meta name="description" content="Demo Scores website">
    <meta name="author" content="Me">
    <style>
        body {
            background-color: antiquewhite;
        }
        
        h1 {
            color: green;
            text-align: center;
        }
        
        ul {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>High Scores!</h1>
    {% block content %} {% endblock %}
</body>

</html>